{% extends 'base.html.twig' %}

{% block title actress.name  %}
	{% block stylesheets %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ asset('style.css') }}">
		
	{% endblock %}

	{% block body %}
		
		<a href="{{ path('app_actress') }}" class="btn btn-light pt-2">&#9792; Retour</a>

		<div class="col-md-6 mx-auto">
			<article class="effet mt-5 bg-white rounded shadow">
				<div class="mw-100 rounded overflow-hidden">
					<img src="{{ actress.image }}" class="w-100"/>
				</div>
				<h2 class="h5 pl-3 pt-3 text-secondary">{{ actress.name }}</h2>

				<p class="pl-3 pr-3 pb-3 text-break">{{ actress.description }}</p>

			</article>

		</div>

	{% endblock %}